.header{
    width: 100%;
    float: left;
    background: var(--white);
}

.upHead{
    background: var(--black);
    width: 100%;
    padding: 10px 0;
}

.mainHeader{
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo{
    width: 100px;
}

.search{
    width: 100%;
    position: relative;
}
.searchInput{
    min-width: 300px;
}

.button{
    position: absolute;
    right: 0;
    height: 100%;
}
.gapCard{
    gap: 10px;
}

.buttonCard{
    background: transparent;
    color: var(--white);
    background: var(--black);
    font-size: 18px;
    border: 1px solid var(--black);
    padding: 5px 7px;
    border-radius: 5px;
}


@media (max-width: 950px) {
    .logo{
        width: 60px;
    }
    .searchInput{
        min-width: 180px;
    }
}
@media (max-width: 770px) {
    
}