.header{
    width: 100%;
    float: left;
    background: var(--white);
    border: 1px solid red;
}

.upHead{
    background: var(--black);
    width: 100%;
    padding: 10px 0;
}

.mainHeader{
    padding: 15px 0;
}
.logo{
    width: 100px;
}

.search{
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
}
.searchInput{
    min-width: 300px;
}

.button{
    position: absolute;
    right: 0;
    height: 100%;
}