.categoryCard{
    border: 5px solid var(--white);
    padding: 200px 10px 50px 10px;
}
.heading{
    margin-bottom: 10px;
}

h2.heading{
    color: var(--white);
}

.offerCard{
    border: 5px solid var(--darkLight);
    padding: 20px;
}

.content{
    border: 1px solid var(--white);
    padding: 60px 0;
    /* height: 100%; */
}

.prodCard{
    width: 300px;
    text-align: left;
    background: #0000000d;
    cursor: pointer;
    transition: .5s;
}
.thumb{
    width: 100%;
    height: 300px;
    transition: .5s;
    /* object-fit: contain; */
}

.title{
    color: var(--black);
}
.strikePrice{
    color: rgba(33, 33, 33, 0.6);
}

.price{
    color: var(--black);
}

.buttonCart{
    margin-top: 10px;
}

.content{
    padding: 20px;
    width: 100%;
}
.prodCard:hover .thumb{
    /* border: 1px solid green; */
    transform: scaleX(-1);
}
.icons{
    gap: 10px;
    height: 100%;
}
.cardHover{
    transition: .5s;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blackTransprant);
    opacity: 0;
}
.thumbIcons:hover{
    background: var(--white);
}
.thumbIcons{
    color: var(--white);
    font-size: 18px;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
}
.prodCard:hover .cardHover{
    opacity: 1;
}
.Prodimage{
    position: relative;
}