.categoryCard{
    border: 5px solid var(--white);
    padding: 200px 10px 50px 10px;
}
.heading{
    margin-bottom: 10px;
}

h2.heading{
    color: var(--white);
}

.offerCard{
    border: 5px solid var(--darkLight);
    padding: 20px;
}

.content{
    border: 1px solid var(--white);
    padding: 60px 0;
    /* height: 100%; */
}

.prodCard{
    width: 300px;
    /* margin-top: 10px; */
}
.thumb{
    width: 100%;
    height: 300px;
    /* object-fit: contain; */
}

.title{
    color: var(--black);
}
.strikePrice{
    color: rgba(33, 33, 33, 0.6);
}

.price{
    color: var(--black);
}

.buttonCart{
    margin-top: 10px;
}

.prodCard{
    text-align: left;
    background: #0000000d;
    /* margin: 10px 10px; */
}
.content{
    padding: 20px;
    width: 100%;
}